asgiref
async-timeout
certifi
charset-normalizer
Django
django-redis
django-storages
idna
numpy
oauthlib
packaging
pandas
Pillow
python-dateutil
python-decouple
pytz
redis
requests
requests-oauthlib
setuptools-scm
six
sqlparse
tomli
typing_extensions
tzdata
urllib3
wrapt
