{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

    <div class="formbox">
        <h2 style="text-align: center; margin-top: 35px;">Enrollment Form</h2>
        <form id="login" class="inputgrp" method="post">
            {% csrf_token %}
            <select id="subject" name="subject" class="an" required style="color: grey; width: 100%; padding: 15px; margin-bottom: 15px;">
                <option value="">Select Subject</option>
                {% for sub in subjects %}
                    <option value={{sub.id}}>{{sub.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="submit" class="submitbtn">SUBMIT</button>
        </form> 
    </div>
{% endblock content %}