{% extends '../stu-base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    </ul>
                </nav>
                <img src="{% static 'images/menu.png' %}" width="30px" height="30px" class="menu" onclick="menutoggle()">
            </div>
        </div>
    </div>

    <div class="formbox">
        <h3 class="x">Enrollment Form</h3>
        <form id="login" class="inputgrp" method="post">
            {% csrf_token %}
            <select id="subject" name="subject" class="an" required style="color: grey; width: 100%; padding: 15px; margin-bottom: 15px;">
                <option value="">Select Subject</option>
                {% for sub in subjects %}
                    <option value={{sub.id}}>{{sub.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="submit" class="submitbtn">SUBMIT</button>
        </form> 
    </div>
{% endblock content %}