{% extends '../stu-base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="./a4login/image/image.png" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    </ul>
                </nav>
                <img src="image/menu.jpg" width="30px" height="30px" class="menu" onclick="menutoggle()">
            </div>
        </div>
    </div>

    <div class="formbox">
        <!-- <img class="y" src="image/image.png" width="100px" height="100px"> -->
        <h3 class="x">Enrollment Form</h3>

        <form id="login" class="inputgrp" method="post">
            <input type="text" name="stu_name" class="inputfeild" placeholder="Name" required>
            <input type="text" name="stu_rollno" class="inputfeild" placeholder="Roll Number" required>
            <input type="text" name="stu_dept" class="inputfeild" placeholder="Department" required>
            <input type="email" name="stu_email" class="inputfeild" placeholder="Email id" required>
            <input type="tel" name="stu_num" class="inputfeild" placeholder="ContactNumber" required>
            <input type="submit" name="submit" class="submitbtn">
        </form> 
    </div>
{% endblock content %}