{% extends '../admin-base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">

                        <li><a href="">HOME</a></li>
                        <li><a href="allproduct.html">PROFILE</a></li>
                        <li><a href="aboutus.html">ELECTIVE</a></li>
                        <li><a href="">TIME TABLE</a></li>
                    </ul>
                </nav>


                <img src="image/BELL.png" width="30px" height="30px">
                <img src="image/menu.jpg" width="30px" height="30px" class="menu" onclick="menutoggle()">
            </div>

        </div>
    </div>
   
<div class="formbox2">
    <div class="contactcol ">
        <h2 class="title">Add Faculty</h2>
        <form action="" method="post">
            <input class="an" type="text" name="tr_name" placeholder="Enter faculty name" required>
            <input class="an" type="text" name="tr_regno" placeholder="Enter faculty register no" required>
            <select id="dept" name="dept" class="an" required style="color: grey; width: 100%; padding: 15px; margin-bottom: 15px;">
                <option value="">Enter Student Department</option>
                <option value="dept1">dept1</option>
                <option value="dept2">dept2</option>
                <option value="dept3">dept3</option>
                <option value="dept4">dept4</option>
              </select>
            <input class="an" type="email" name="tr_email" placeholder="Enter faculty email" required>
            <input class="an" type="text" name="tr_contact" placeholder="Enter faculty contact no" required>
            <!-- <a href="" class="submitbtn">Add faculty</a> -->
            <input type="submit" class="submitbtn" name="submit" value="Add Faculty">
        </form>
    </div>
</div>
{% endblock content %}