<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="image/image.png" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">

                        <li><a href="">HOME</a></li>
                        <li><a href="allproduct.html">PROFILE</a></li>
                        <li><a href="aboutus.html">ELECTIVE</a></li>
                        <li><a href="">TIME TABLE</a></li>
                    </ul>
                </nav>


                <img src="image/BELL.png" width="30px" height="30px">
                <img src="image/menu.jpg" width="30px" height="30px" class="menu" onclick="menutoggle()">
            </div>

        </div>
    </div>
   
<div class="formbox2">
    <div class="contactcol ">
        <h2 class="title">Add Faculty</h2>
        <form action="" method="post">
            <input class="an" type="text" name="tr_name" placeholder="Enter faculty name" required>
            <input class="an" type="text" name="tr_regno" placeholder="Enter faculty register no" required>
            <input class="an" type="text" name="tr_dept" placeholder="Enter faculty Department" required>
            <input class="an" type="email" name="tr_email" placeholder="Enter faculty email" required>
            <input class="an" type="text" name="tr_contact" placeholder="Enter faculty contact no" required>
            <a href="" class="submitbtn">Add faculty</a>
        </form>
    </div>
</div>
<script>
    var menuitem = document.getElementById("menuitem")
    menuitem.style.maxHeight = "0px";
    function menutoggle() {
        if (menuitem.style.maxHeight == "0px") {
            menuitem.style.maxHeight = "200px";
        }
        else {
            menuitem.style.maxHeight = "0px";
        }
    }

</script>
</body>