{% extends '../admin-base.html' %}
{% load static %}

{% block content %}

<main class="main-container">
    <div class="smallcon singlepro">
        <div class="row"> 
            <div class="col-2" >
                <img src="{{ teacher.profile_pic.url }}" height="400px" width="400px">
            </div>
            
            <div class="col-2">
                <h1>{{ teacher.name | safe }}</h1>
                <p><b>Department :</b> {{ teacher.department.name | safe }}</p>
                <p><b>Subject Taught:</b> {{ subject | safe }}</p>
                <p><b>Experience :</b> {{ teacher.experience | safe }} years</p>
                <p><b>Contact :</b> {{ teacher.phone | safe }}</p>
                <p><b>Email :</b> {{ teacher.email | safe }}</p> 
            </div>
        </div>
    </div>
</main>

{% endblock content %}