{% extends '../admin-base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" width="125px">
                    </a>
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    </ul>
                </nav>
                <img src="{% static 'images/menu.png' %}" width="30px" height="30px" class="menu" onclick="menutoggle()">
            </div>
        </div>
    </div>


    <div class="smallcon">
        <h2 class="title">Teachers</h2>
        <div class="row">
            {% for tea in teachers %}
                <a class="col4" href="{% url 'single-teacher' tea.id %}">
                    <div class="col4">
                        <img src="{{ tea.profile_pic.url }}" width="200px" height="400px">
                        <h4>{{ tea.name | safe }}</h4>
                        <p>{{ tea.department.name | safe }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}