{% extends '../teacher-base.html' %}
{% load static %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'teacher-dashboard' %}">PROFILE</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    </ul>
                </nav>
            </div>
            <div class="smallcon">
                <div class="row" style="display: block;"> 
                    <div class="col-2" style="text-align: center;">
                        <img src="{{ teacher.profile_pic.url }}">
                    </div>
                   
                    <div class="col-2">
                        <h1>{{ teacher.name | safe }}</h1>
                        <p><b>Department :</b> {{ teacher.department.name | safe }}</p>
                        <p><b>Subject Taught:</b> {{ subject | safe }}</p>
                        <p><b>Experience :</b> {{ teacher.experience | safe }} years</p>
                        <p><b>Contact :</b> {{ teacher.phone | safe }}</p>
                        <p><b>Email :</b> {{ teacher.email | safe }}</p> 
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}