{% extends '../admin-base.html' %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="formbox2">
        <div class="contactcol ">
            <h2 class="title">Add Subject</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="an" type="text" name="name" placeholder="Enter Subject Name" required>
                <input class="an" type="text" name="desc" placeholder="Enter Subject Description" required>
                <input class="an" type="image" name="cover_img" placeholder="Enter Cover Image" required>
                <select id="dept" name="dept" class="an" required style="color: grey; width: 100%; padding: 15px; margin-bottom: 15px;">
                    <option value="">Select Department</option>
                    {% for dept in departments %}
                    <option value={{dept.id}}>{{dept.name}}</option>
                    {% endfor %}
                </select>              
                <select id="teacher" name="teacher" class="an" required style="color: grey; width: 100%; padding: 15px; margin-bottom: 15px;">
                    <option value="">Select Faculty</option>
                    {% for teacher in faculty %}
                    <option value={{teacher.id}}>{{teacher.name}}</option>
                    {% endfor %}
                </select>                    
                <input class="an" type="url" name="syllabus" placeholder="Subject Syllabus Link" required>
                <input class="an" type="url" name="intro" placeholder="Subject Introduction Video Link" required>
                <!-- <input class="an" type="textarea" name="intro" placeholder="Add Subject Intro" required> -->
                <button type="submit" class="submitbtn">Add Subject</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}