{% extends '../admin-base.html' %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="subject_container">
        {% for sub in subjects %}
            <div class="smallcon">
                <div class="row"> 
                    <a href="{% url 'single-subject' sub.id %}">  
                        <div class="col4" style="padding: 40px;">
                            <h1>{{sub.name}}</h1><br>
                            <div><img src="{{ sub.cover_img.url }}" style="width: 250px; height: 250px;"></div><br>
                            <h3>Taught by:{{sub.teacher.name}}</h3> <!--can be  a link to the faculty profile-->
                            <h3>{{sub.department.name}}</h3><br><br>
                            <a class="submitbtn" href="{% url 'all-subjects' %}" style="width: 100px;display: inline;text-decoration: none">Edit</a>
                            <a class="submitbtn" href="{% url 'all-subjects' %}" style="width: 100px;display: inline;text-decoration: none">Delete</a>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
