<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/student-style.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="./a4login/image/image.png" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="">HOME</a></li>
                        <li><a href="allproduct.html">PROFILE</a></li>
                        <li><a href="aboutus.html">ELECTIVE</a></li>
                        <li><a href="">TIME TABLE</a></li>
                    </ul>
                </nav>
                <img src="image/menu.jpg" width="30px" height="30px" class="menu" onclick="menutoggle()">
            </div>
        </div>
    </div>

    <div class="formbox">
        <!-- <img class="y" src="image/image.png" width="100px" height="100px"> -->
        <h3 class="x">Enrollment Form</h3>

        <form id="login" class="inputgrp" method="post">
            <input type="text" name="stu_name" class="inputfeild" placeholder="Name" required>
            <input type="text" name="stu_rollno" class="inputfeild" placeholder="Roll Number" required>
            <input type="text" name="stu_dept" class="inputfeild" placeholder="Department" required>
            <input type="email" name="stu_email" class="inputfeild" placeholder="Email id" required>
            <input type="tel" name="stu_num" class="inputfeild" placeholder="ContactNumber" required>
            <input type="submit" name="submit" class="submitbtn">
        </form> 
    </div>
    <script src="" async defer></script>
    
    <script>
        var menuitem = document.getElementById("menuitem")
        menuitem.style.maxHeight = "0px";
        function menutoggle() {
            if (menuitem.style.maxHeight == "0px") {
                menuitem.style.maxHeight = "200px";
            }
            else {
                menuitem.style.maxHeight = "0px";
            }
        }

    </script>
</body>

</html>