{% extends '../stu-base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" width="125px">
                    </a>
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="smallcon singlepro">
        <div class="row">
            
            <div class="col-2">
                <h2 class="title">{{subject.name}}</h2>
            </div>
            <div class="col-2">
                <h4><b>Taught by : </b>{{subject.teacher.name}}</h4>
                <h5>{{subject.teacher.post}}</h5>
                <br> 
                <h3>Subject details &#8594;</h3>
                <br>
                <p>{{subject.desc}}<br></p>
                <br> 
                <h3>Subject syllabus  &#8594;</h3><br>
                <a href="{{subject.syllabus}}" target="_blank">Syllabus link</a>
                
            </div>
            <a href="{% url 'enroll' subject.id %}" style="background-color: white; padding: 5px; border-radius: 10px;">Enroll Now</a>
        </div>
    </div>
{% endblock content %}