{% extends '../admin-base.html' %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="formbox2">
        <div class="contactcol ">
            <h2 class="title">Add Department</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="an" type="text" name="name" placeholder="Enter Department Name" required>
                <input class="an" type="text" name="code" placeholder="Enter Department code" required>
                <button type="submit" class="submitbtn">Add Department</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}