{% extends '../admin-base.html' %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="subject_container">
        <h2 class="title">ALL DEPARTMENT</h2>
        {% for dept in department %}
            <div class="smallcon">
                <div class="row"> 
                    <div class="col4" style="padding: 40px;">
                        <h1>{{dept.name}}</h1><br>
                        <h3>{{dept.code}}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
