<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="title">Contact Us Data</h2>
    <table class="stu_details" id="stu_detail">
        <tr><b>
            <th>Name</th>
            <th>Email</th>
            <th>
                <select name="identity" id="identity">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select> 
            </th>
            <th>Query</th>
        </b></tr>
    </table>
</body>
</html>