{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

    <h2 class="title">Contact Us</h2>
    <section class="contactus">
        <div class="row">
            <div class="contactcol">
                <form method="post">
                    {% csrf_token %}
                    <input name="name" class="an" type="text" placeholder="Enter your Name" required>
                    <input name="email" class="an" type="email" placeholder="Enter email address" required>
                    <textarea class="an" name="message" rows="8" placeholder="Enter you Query" required></textarea>
                    <button type="submit" class="btn">Send Message</button>
                </form>
            </div>
        </div>
    </section>
    
{% endblock content %}