{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" width="125px">
                    </a>
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'student-dashboard' %}">PROFILE</a></li>
                        <li><a href="{% url 'all-subjects' %}">SUBJECTS</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                        <li><a href="{% url 'contact-us' %}">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <h2 class="title">Contact Us</h2>
    <section class="contactus">
        <div class="row">
            <div class="contactcol">
                <form method="post">
                    {% csrf_token %}
                    <input name="name" class="an" type="text" placeholder="Enter your Name" required>
                    <input name="email" class="an" type="email" placeholder="Enter email address" required>
                    <textarea class="an" name="message" rows="8" placeholder="Enter you Query" required></textarea>
                    <button type="submit" class="btn">Send Message</button>
                </form>
            </div>
        </div>
    </section>
    
{% endblock content %}