{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" width="125px">
                    </a>
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'all-subjects' %}">SUBJECTS</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                        <li><a href="{% url 'contact-us' %}">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <div class="col-1">
                    <h1>Elective Subject Selection Project</h1>
                </div>
                <div class="col-2"><img src="{% static 'images/hero.gif' %}" width="599px"></div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- <div class="smallcon"> -->
        <h2 class="title">Problem Statement</h2>
        <div class="row">
            <div class="info">
                <p class=><b>Problem Statement 1 - Student Details App
                    Build an application that<br> can be run as a container on <br>the cloud for creating/updating/deleting a student.<br>
                   <br> Feature:Allow user to add, update, delete a student</b><br>
            Each student should have:<br>
            Student Name<br>
            Student ID Number<br>
            Student Email<br>
            Student Phone Number<br>
            Persist all student details in the database<br>
                    </p>
            </div>
            <div class="sec"><img src="{% static 'images/ps1.png' %}" width="400px" height="400px"></div>
        </div>
        <div class="row">
            <div class="info">
             <div class="sec"><img src="{% static 'images/ps2.png' %}" width="400px" height="400px"></div>
        </div>
        <p class=><b>Problem Statement 2 - Elective Subject App
            Build an application that can be run as<br> a container on the cloud for <br>creating/updating/deleting an elective subject.<br>
            <br>Features:Allow user to add, update, delete an elective subject</b><br>
            Each elective subject should have:<br>
            Elective Subject Name<br>
            Elective Subject Description<br>
            Elective Subject Code<br>
            Persist all subjects in the database 
            </p>
            </div>
            
            <div class="row">
                <div class="info">
                    <p class=><b>Problem Statement 3 - Elective Subject Selection App
                        Build an application <br>that can be run as a container on the cloud for <br>selecting/updating/deleting elective subject for each student.</b><br>     

            There should be 2 pages/screens/views – Student Page and Elective Subject Page <br>
            On the Student Page: <br>
            The user should be able to select a student from a list of students(From Problem Statement 1) <br>
            Then let them select, update, delete the elective subject(s)(From Problem Statement 2) for that student <br>
            On the Elective Subject Page: <br>
            The user should be able to select an elective subject from list of elective subject (From Problem Statement 2) <br>
            Then let them select, update, delete the student(s) that have chosen the elective subject <br>

                        
                    </p>
                </div>
                <div class="sec"><img src="{% static 'images/ps3.png' %}" width="400px" height="400px"></div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <h2 class="title">Explore</h2>
    <div class="feedback">
        <div class="smallcon">
            <div class="row">
                <a href="{% url 'student-dashboard' %}">
                    <div class="col3">
                        <div><img src="{% static 'images/student.png' %}" width="100px" height="100px"></div><br>
                        <h2 class="quote">Student Login</h2>
                    </div>
                </a>
                <a href="{% url 'teacher-dashboard' %}">
                    <div class="col3">
                        <div><img src="{% static 'images/teacher.png' %}" width="100px" height="100px"></div><br>
                        <h2 class="quote">Teacher Login</h2>
                    </div>
                </a>
                <a href="{% url 'admin-dashboard' %}">
                    <div class="col3">
                        <div><img src="{% static 'images/admin.png' %}" width="100px" height="100px"></div><br>
                        <h2 class="quote">Admin Login</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <h2 class="title">Extra Features</h2>
    <div class="row"><p>
        1.<br>
        2.<br>
    </p></div>
    
    <footer>
        <div class="footer">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="footrecol2">
                        <img src="{% static 'images/logo.png' %}" width="150px">
                        <p>Our purpose is to sustainably make
                            the pleasure<br> and benefit of sweets accessible to the many</p>
                    </div>
                    <div class="footrecol3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                            <li><a href="{% url 'all-subjects' %}">All Subjects</a></li>
                            <li><a href="{% url 'all-teachers' %}">All Teacher</a></li>
                        </ul>
                    </div>
                    <div class="footrecol3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="{% url 'student-login' %}">Student Login</a></li>
                            <li><a href="{% url 'teacher-login' %}">Teacher Login</a></li>
                            <li><a href="{% url 'admin-login' %}">Admin Login</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </footer>

    {% endblock content %}