{% extends '../../stu-base.html' %}
{% load static %}

{% block content %}
    <div class="formbox">
        <img class="y" src="{% static 'images/logo.png' %}" width="100px" height="100px">
        <h3 class="mess">Check your email</h3>
        <div class="abcd"><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"> </a></div>
        <p class="message">We have sent you a email with<br> a link to reset your password</p>
        <br>
        <button type="submit" name="submit" class="submitbtn1">Open email</button>
    </div>
{% endblock content %}