{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" width="125px">
            </div>
            <nav>
                <ul id="menuitem">
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'student-dashboard' %}">PROFILE</a></li>
                    <li><a href="{% url 'all-subjects' %}">SUBJECTS</a></li>
                    <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    <li><a href="{% url 'contact-us' %}">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <h1 class="title">Timetable</h1>
        <img src="{% static 'images/time-table.jpeg' %}" width="1200px" height="600px">
    </div>
</div>

{% endblock content %}
