{% extends '../admin-base.html' %}
{% load static %}

{% block content %}

    <div class="grid-container">


      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <img src="{% static 'images/logo.png' %}" width="125px">

        <ul class="sidebar-list">
          <li class="sidebar-list-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
          <li class="sidebar-list-item"><a href="{% url 'all-students' %}">Students</a></li>
          <li class="sidebar-list-item"><a href="{% url 'all-teachers' %}">Teacher</a></li>
          <li class="sidebar-list-item"><a href="{% url 'all-subjects' %}">Subject</a></li>
          <li class="sidebar-list-item"><a href="#">Change</a></li>
          <li class="sidebar-list-item"><a href="#">Settings</a></li>
          <li class="sidebar-list-item"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>

      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary"><b>Students Count</b></p>
            </div>
            <span class="text-primary font-weight-bold">{{student_count}}</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary"><b>Teachers Count</b></p>
            </div>
            <span class="text-primary font-weight-bold">{{teacher_count}}</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary"><b>Subjects Count</b></p>
            </div>
            <span class="text-primary font-weight-bold">{{subject_count}}</span>
          </div>

        </div>

        <div class="charts">
          <div class="charts-card">
            <p class="chart-title">Students opted for subject</p>
            <div id="bar-chart"></div>
          </div>
          <div class="charts-card">
            <p class="chart-title">Purchase and Sales Orders</p>
            <div id="area-chart"></div>
          </div>
        </div>
        
      </main>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
   
    <script src="{% static 'js/graph-script.js' %}"></script>

    {% endblock content %}