{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'student-dashboard' %}">PROFILE</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                    </ul>
                </nav>
            </div>
            <div class="smallcon">
                <div class="row"> 
                    <div class="col-2">
                        <img src="./image/hu1.jpg">
                    </div>
                    <div class="col-2">
                        <h2>{{user.name}}</h2>
                        <p><b>Roll No : </b>{{user.roll_no}}</p>
                        <p><b>Department : </b>{{user.department.name}}</p>
                        <p><b>Contact : </b>{{user.phone}}</p>
                        <p><b>Email : </b>{{user.email}}</p> 
                    </div>
                </div>
            </div>

    <h2 class="title">SELECTED ELECTIVES</h2>
    <div class="smallcon">
        
        <div class="row">
            <div class="col4">
                <h4>SOFT COMPUTING</h4>
                <p>ETC DEPT</p>
                <a href="" class="btn">CHANGE</a>
            </div>
            <div class="col4">
                <h4>SOFT COMPUTING</h4>
                <p>ETC DEPT</p>
                <a href="" class="btn">CHANGE</a>
            </div>
            <div class="col4">
                <h4>SOFT COMPUTING</h4>
                <p>ETC DEPT</p>
                <a href="" class="btn">CHANGE</a>
            </div>
    </div>
{% endblock content %}