{% extends '../stu-base.html' %}
{% load static %}

{% block content %}

            <div class="smallcon singlepro">
                <div class="row"> 

                    <div class="col-2">
                        {% if user.profile_pic %}
                            <img src="{{user.profile_pic.url}}" style="width: 400px; height: 400px;" >
                        {% else %}
                            <img src="{% static 'images/profile.webp' %}" style="width: 400px; height: 400px;">
                        {% endif %}
                    </div>
                    <div class="col-2">
                        <h2>{{user.name | safe }}</h2>
                        <h4><b>Roll No : </b>{{user.roll_no | safe }}</h4>
                        <h4><b>Department : </b>{{user.department.name | safe }}</h4>
                        <h4><b>Contact : </b>{{user.phone | safe }}</h4>
                        <h4><b>Email : </b>{{user.email | safe }}</h4> 
                    </div>
                </div>
            </div>

    <h2 class="title">SELECTED ELECTIVES</h2>
    <div class="feedback">
    <div class="smallcon">
        <div class="row">
        {% if enrollment %}
                <div class="col3">
                    <div><img src="{{ enrollment.subject_1.cover_img.url }}" width="100px" height="100px"></div>
                    <h2>{{enrollment.subject_1.name}}</h2>
                    <p>{{enrollment.subject_1.department.name}}</p>
                    <a href="{% url 'change-elective' 1 %}" class="btn">CHANGE</a>
                    <a href="{% url 'single-subject' enrollment.subject_1.id %}" class="btn">Subject Details</a>
                </div>
                {% if enrollment.subject_2 %}
                <div class="col3">
                    <div><img src="{{ enrollment.subject_2.cover_img.url }}" width="100px" height="100px"></div>
                    <h2>{{enrollment.subject_2.name}}</h2>
                    <p>{{enrollment.subject_2.department.name}}</p>
                    <a href="{% url 'change-elective' 1 %}" class="btn">CHANGE</a>
                    <a href="{% url 'single-subject' enrollment.subject_1.id %}" class="btn">Subject Details</a>
                </div>
                {% else %}
                <div class="col3">
                    <a href="{% url 'enroll' 2 %}" class="btn">Apply for Elective Subject 2</a>
                </div>
                {% endif %}
                {% if enrollment.subject_3 %}
                <div class="col3">
                    <div><img src="{{ enrollment.subject_3.cover_img.url }}" width="100px" height="100px"></div>
                    <h2>{{enrollment.subject_3.name}}</h2>
                    <p>{{enrollment.subject_3.department.name}}</p>
                    <a href="{% url 'change-elective' 1 %}" class="btn">CHANGE</a>
                    <a href="{% url 'single-subject' enrollment.subject_1.id %}" class="btn">Subject Details</a>
                </div>
                {% else %}
                <div class="col3">
                    <a href="{% url 'enroll' 3 %}" class="btn">Apply for Elective Subject 3</a>
                </div>
                {% endif %}
        {% else %}
            <center><a href="{% url 'enroll' 1 %}" class="btn">Select Electives</a></center>
        {% endif %}
        </div>
    </div><br><br>

    {% if change_requests %}
    <h2 class="title">Change Elective Status</h2>
    <center>
        {% for req in change_requests %}
        <div class="col5">
            <div class="col6"><h2>{{req.from_sub.name}}</h2><br>
                <img src="{{req.to_sub.cover_img.url}}" style="width: 100px; height: 100px;">
                <h4><b>Taught by: </b>{{req.to_sub.teacher.name}}</h4> <!--can be  a link to the faculty profile-->
                <h4>{{req.to_sub.teacher.department.name}}</h4>
            </div>
            <!-- <img src="{% static 'images/pending.png' %}" style="width: 30px; height: 30px;"></div> -->
            <div class="col6">
                <div><img src="{% static 'images/right-arrow.png' %}" style="width: 100px; height: 55px; margin-top: 90px;"></div>
            </div>
            <div class="col6"> <h2>{{req.to_sub.name}}</h2><br>
                <img src="{{req.to_sub.cover_img.url}}" style="width: 100px; height: 100px;">
                <h4><b>Taught by: </b>{{req.to_sub.teacher.name}}</h4> <!--can be  a link to the faculty profile-->
                <h4>{{req.to_sub.teacher.department.name}}</h4>
                <img src="{% static 'images/pending.png' %}" style="width: 30px; height: 30px;"></div>
                <div class="col6"> 
                    <img src="{% static 'images/pending.png' %}" style="width: 80px; height: 80px;margin-top: 60px;"><br><br>
                    <h1>Status</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </center>
    {% endif %}
</div>
{% endblock content %}