{% extends '../../stu-base.html' %}
{% load static %}

{% block content %}
    <!-- <div class="header"> -->
        <!-- <div class="container"> -->
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul id="menuitem">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'student-dashboard' %}">PROFILE</a></li>
                        <li><a href="{% url 'all-subjects' %}">ELECTIVE</a></li>
                        <li><a href="{% url 'time-table' %}">TIME TABLE</a></li>
                        <!-- <li><a href="">CONTACT US</a></li> -->
                    </ul>
                </nav>

                <!-- <img  src="./image/BELL.png" width="30px" height="30px"><a href="cart.html" class="yo">2</a> -->
                <!-- <img src="image/menu.jpg" width="30px" height="30px" class="menu" onclick="menutoggle()"> -->
            </div>
            <div class="smallcon">
                <div class="row"> 
                    <div class="col-2">
                        <img src="./image/hu1.jpg">
                    </div>
                    <div class="col-2">
                        <h1>Student Name</h1>
                        <p>201101010</p>
                        <p>Department : IT</p>
                        <p>Contact : 1234567890</p>
                        <p>Email : ab@ab.com</p> 
                    </div>
                </div>
            </div>

        <!-- </div> -->
    <!-- </div> -->

    <h2 class="title">SELECTED ELECTIVES</h2>
    <div class="smallcon">
        
        <div class="row">
            <div class="col4">
                <h4>SOFT COMPUTING</h4>
                <p>ETC DEPT</p>
                <a href="" class="btn">CHANGE</a>
            </div>
            <div class="col4">
                <h4>SOFT COMPUTING</h4>
                <p>ETC DEPT</p>
                <a href="" class="btn">CHANGE</a>
            </div>
            <div class="col4">
                <h4>SOFT COMPUTING</h4>
                <p>ETC DEPT</p>
                <a href="" class="btn">CHANGE</a>
            </div>
    </div>
{% endblock content %}